@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
body {
  margin: 0;
  font-family: 'Kavoon', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBE7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
Typography {
  font-family: 'Kavoon', cursive;
}
